{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <p>
        Focus on the major worries you have today, because you will have even more major worries tomorrow; If you forsake the future, the future will forsake you.
    </p>
    </article>
{% endblock %}